body {
  background-color: var(--primary-color);
}

.title {
  background-color: #222831;
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
  margin-bottom: 0;
  height: 10vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}